<table>
  <% if !@@recipes["matches"].empty? %>
    <% @@recipes["matches"].each do |recipe| %>
      <tr>
        <% if !recipe["smallImageUrls"].nil? %>
          <td><%= image_tag recipe["smallImageUrls"][0] %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= recipe["recipeName"] %></td>
      </tr>
    <% end %>
  <% else %>
    <tr><td>No Results</td></tr>
  <% end %>
</table>