<br>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <br /><br />
    <div class="welcome">
    <%= image_tag("https://lh3.googleusercontent.com/rdSoefu4gUXd3MNpaQtJwUrzma6mxzKC7eFclemlAsAaLTpg9GJhmxpuubkBMma0XcPXqtztn6C72lOvZblA_51XXsEKhI-GD5daP9RdoHHlf0olhe3a1A3h5G5y3iQNBsfyxP4bjF5pd1TFY4g_bZHUh5MMV_BX7g6d3DYPf_Oi_gRyG_NrJEHSnvhDumia8AfMYj48VbSNe7EsyvWKiph-S9kPh4-jYEKbg4mDho1Z9OMAZrHXZex4fme0iuNzLFv1SuENU61MuAJin4SWWYcBXVQca0P8GjIG6B5b0GQ2OWiZfTtSII6XEF5-4upb52fZ2TFl8YCiW0zl3S9KQJSvuqZSHurBFM2ddsqlYN03aEY-Dgd3_yH6JL6iBeT4gZ2Jm45ih37jPOViqsqnBF1icZIdQ46EtC5luu4W48Pl7R7eDaNcaUjmWB3gxex2phX5GJf8HxSFkDb8yOh4A5PwMBww0U2Ws41wrd_OrX6pX_IqbGmeyFlL82CLplnGoWoyqi5-n7Zlvz3-d6Rcil4=w354-h136-no", height: '120') %>
    <br /><br />
    <p>Recipes for the ingredients you already have!<br />
    <i>Powered by Yummly</i></p><br />
    <p>
        <%= link_to "Get Started!", ingredients_path, class: 'btn btn-success btn-lg' %>
    </p>
    </div>
  </div>
</div>